body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container,
.register-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25vh;
}

.register-container {
    min-width: 1000px;
}

.login-container h2,
.register-container
h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
}

.btn-login {
    background-color: #007bff;
    color: white;
}

.btn-login:hover {
    background-color: #0056b3;
}

.profile-container {
    min-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.profile-container p {
    margin-bottom: 10px;
}

.btn-logout {
    background-color: #dc3545;
    color: white;
    width: 100%;
    border-radius: 5px;
    max-width: 100px;
}

.btn-logout:hover {
    background-color: #c82333;
}

.restore-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restore-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn-reset {
    background-color: #007bff;
    color: white;
    width: 100%;
    border-radius: 5px;
}

.btn-reset:hover {
    background-color: #0056b3;
}